.documentCard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid #d7d7d7;
  border-radius: 4px;
}

.documentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #d4e7b8;
  font-size: 30px;
  cursor: pointer;
}

.documentBody {
  padding: 15px;
  font-size: 30px;
}

.documentBodyWindow {
  cursor: pointer;
}

.documentInfoContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 25px;
  padding: 15px;
}
